<% include header %>

  <ul id="messages">
    <li>Click start</li>
  </ul>

  <table id="informations">
    <tr>
      <td id="myname">You</td>
      <td id="iam"></td>
    </tr>

    <tr>
      <td>Current</td>
      <td id="who_plays" class="player_0"></td>
    </tr>
  </table>

  <table id="puissance4">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <input id="start" type="button" value="Start" />

  <div id="endPrompt" style="display:none; cursor: default">
    <h1>Would you like to play again?</h1>
    <input type="button" id="restart" value="Yes" />
    <input type="button" id="quit" value="No" />
  </div>

  <% include footer %>