<% include header %>

  <ul id="messages">
    <li>Click start</li>
  </ul>

  <table id="informations">
    <tr>
      <td>You</td>
      <td id="iam"></td>
    </tr>

    <tr>
      <td>Current</td>
      <td id="who_plays" class="player_0"></td>
    </tr>
  </table>

  <table id="puissance4">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <input id="start" type="button" value="Start" />
  <input id="play" type="button" value="Play" />

  <% include footer %>